body{
    background-color: #e0b1cb;
    margin: 1%;
    padding: 1%;
    text-align: center;
    size: 100px;
}
h1{
    font-size: 3rem;
    color:#231942;
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 70vh;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: .8rem;
    border-style: dotted;
    border-color: black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: whitesmoke;
    background-color:#5e548e;
    padding: 10px;
 }

 .box:hover{
    background-color:#504780;
 }
 #reset-btn {
    padding: 1rem;
    font-size: 2rem;
    background-color:#231942;
    color: #fff;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s; 
}

#reset-btn:hover {
    background-color:#5e548e; 
}
#new-btn {
    padding: 1rem;
    font-size: 2rem;
    background-color:#231942;
    color: #fff;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  #new-btn:hover {
    background-color:#5e548e; 
}
  #msg {
    color:#5e548e;
    font-size: 5vmin;
    text-shadow: #231942;
  }
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }  